/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .show-on-mobile {
    display: none;
  }



  /* ################################################## */
  /* ################################################## */
  /* ################################################## */
  /* ################################################## */

/* ----- Global Selections ----- */
:root{
    --primary-color: #FF6565; /* color: #FF6565 */
    --button-hover-active-opacity: 0.9; /* opacity: 0.9 */
  }

* {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    
}

body, body::after {
    display: flex;
    flex-direction: column;
}


a:hover {
    opacity: var(--button-hover-active-opacity);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

button {
    background-color: var(--primary-color);
    border-radius: 25px;
    height: 44px;
    width: 162px;
    border: none;
    /* padding: 5px; */
}

button:hover {
    opacity: var(--button-hover-active-opacity);
}

h1 {
    font-size: 32px;
    border: 1px solid;
    font-weight: 500;
}

h2 {
  font-weight: 500;
  font-size: 32px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

h3 strong {
  font-size: 46px;
}

p {
    font-size: 16px;
    overflow-wrap: break-word;
    font-weight: 100;

    /* margin-left: 300px;  */
}

section {
  padding: 80px;
}

/* Flex global settings  */
.column-flex {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.row-flex {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.intro {
  gap: 40px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 1px solid green;
}

.intro p {
  border: 1px solid blue;
  text-align: center;
  max-width: 640px;
}

/* header-nav Section Together  */
.section-1 {
    background-image: url('/images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    justify-content: center;
}

.section-1 * {
  justify-items: center;
}

.menu-icon {
  display: none;
}



/* ------ Header Section ----- */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 5% 0 5%;
    border: 1px solid red;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

nav{
    margin-left: auto;
}

.icon {
    width: 160px;
    height: 30px;
}

.font-14 {
  font-size: 14px;
  font-weight: 300;
}

/* Hero Section  */
.hero-section {
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid yellow;
    margin-top: 220px;
    margin-bottom: 35px;
    /* padding-bottom: 0; */
}

.hero-section > p:last-child {
    margin-top: 15px;
}

.hero-section > *:not(button){
    width: 100%;
}


@media (max-width: 480px) {
  /* deelte this line below */
  *::after, * {
    color: yellow;
  }

  .show-on-mobile {
    display: initial;
  }

  .icon {
    margin: 20px auto 0 auto;
    width: 60%;
    height: auto;
    border: 1px dashed green;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  /* Sidebar adjustment  */
  nav{
    display: none;
  }

  /* Menu Icon */
  .menu-icon{
    border: 1px solid white;
    width: 30px; 
    height: 25px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    cursor: pointer;
    margin-bottom: 25px;
  }

  .bar {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #ffffff;
  }

  .bar2 {
    width: 70%;
    height: 3px;
    display: block;
    background-color: #ffffff;
  }

  /* Show/Hide Toggle */
  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ nav {
    display: block; 
    background-color: blue; 
  }
}

/* ------ Section 2----- */
.section-2 {
  gap: 100px;
}

.section-2 *{
  color: #071629;
  text-align: center;
}

.section-2-intro {
  gap: 40px;
}

.what-we-do-container {
  /* width: 210px; */
  border: 1px dashed green;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.what-we-do-container image {
  /* width: 10 */
}

.ticket {
  border: 1px solid rgb(214, 20, 20);
  width: 210px;
}


.ticket * {
  text-align: center;
}

/* Section 3  */
.section-3 {
  background-image: url('/images/headphones_hero_2.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 40px;
}

.section-3 *{
  /* color: black; */
}

.pentagone-container {
  gap: 75px;
}


.pentagone {
  background-image: url('/images/pentagone.png'); 
  background-size:contain; 
  background-position: center; 
  background-repeat: no-repeat;
  margin-top: 20px;
}