

article, aside {
    overflow-y: auto
}

nav ul li *{
    padding: 5px;
    border-radius: 4px;
}

nav ul li *:hover {
    
    border: 1px solid rgba(0, 0, 150, 0.2);
}

header {
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    padding-bottom: auto;
    justify-self: center;
}

@media screen and (min-width: 576px) {
    
    main {
        display: flex;
        flex-direction: row;
        flex: auto
    }
    body {
        display: flex;
        flex-direction: column;
    }
    
    article {
        flex: 2
    }
    
    aside {
        flex: 1
    }
    
}

@media screen and (max-width: 576px) {
    
    
    .works_on_smartphone {
        flex-direction: column;
    }

    nav {
        justify-self: center;
    }

    header {

        padding-bottom: 0;
    }
}

