

article, aside {
    border: 1px solid blue;
    overflow-y: auto
}

@media screen and (min-width: 576px) {
    
    main {
        display: flex;
        flex-direction: row;
        flex: auto
    }
    body {
        display: flex;
        flex-direction: column;
    }
    
    article {
        flex: 2
    }
    
    aside {
        flex: 1
    }
    
}

@media screen and (max-width: 576px) {
    
    article, aside {
        border: 1px solid blue;
    }
    
    .works_on_smartphone {
        flex-direction: column;
    }
}

